<!DOCTYPE HTML>
<html lang="en" >
    <head>
        
        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                {%- include body.html -%}

                {% if reversed_posts %}
                    <a href="{{site.baseurl}}{{reversed_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                {% endif %}
            </div>

            <!-- {%- include search.html -%} -->

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script
  type="text/javascript"
  charset="utf-8"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
>
</script>
<script
  type="text/javascript"
  charset="utf-8"
  src="https://vincenttam.github.io/javascripts/MathJaxLocal.js"
>
</script>
